@model TheServer.Models.mesa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mesa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeMesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeMesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isMesaVaga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isMesaVaga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMesa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
