@model IEnumerable<TheServer.Models.itenspedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itens.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedidomesa.idPedidoMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.progresso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itens.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedidomesa.idPedidoMesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.progresso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iditensPedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.iditensPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iditensPedido })
        </td>
    </tr>
}

</table>
